* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    width: auto;
}
body {
    height: auto;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: max-content;
    z-index:15
}
footer {
    padding: 75px 30% 0 30%;
    background-color: #1b3b81;
    color: white;
    height: 300px;
    /* border-top: solid #ffffff 50px; */
}
img {
    -webkit-user-drag: none;
}
b {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #1b3b81;
}
#barra_boton_login {
    position: relative;
    z-index: 11;
    left: 93vw;
}
#barra_logo {
    position: absolute;
    width: 210px;
    top: 0;
    left: 0;
    z-index: 11;
}
#boton_login {
    background: white;
    padding: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    color: rgb(60, 60, 60);
    display: inline-block;
    border: 0;
    max-height: 10px;
}
#boton_login:hover {
    background: linear-gradient(45deg, #80d0ff, #709eff);
    color: white;
}
#logotipo {
    position: absolute;
    font-family: 'lemonmilk';
    top: 0;
    left: 0;
    margin-left: 30%;
    margin-top: 9%;
}
.barra_superior {
    position: absolute;
    top: 0;
    text-align: center;
    justify-content: center;
    background-color: white;
    z-index: 10;
    width: 100vw;
}
.barra_superior>a{
    background: white;
    padding: 1%;
    font-weight: bold;
    transition: 0.3s ease;
    color: rgb(60, 60, 60);
    display: inline-block;
    border: 0;
}
.barra_superior>a:hover {
    background: linear-gradient(45deg, #80d0ff, #709eff);
    color: white;
}
.fondo_gradiente {
    background: linear-gradient(90deg, #1b3b81, #6f9dff);
    padding-bottom: 150px;
}
.texto {
    text-align: center;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.elementos_desplazados {
    display: flex;
}
.sub_elementos_footer {
    margin-right: 6%;
    min-width: 20%;
}
.items_footer {
    margin-right: 10px;
}
.footer_bajo {
    background-color: #193777;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_anclas {
    color: white;
    transition: 0.3s;
}
.footer_anclas:hover {
    color: #b4ddff;
}
.sin_seleccion {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@font-face {
    font-family: 'lemonmilk';
    src: url('/Frontend/assets/LEMONMILK-Regular.otf') format('woff2');
}