body {
    overflow-x: hidden;
}
/*Otras clases*/
.banner_principal {
    background: linear-gradient(270deg, #75a3ff, #ffffff, #ffffff);
    box-sizing: border-box;
    display: flex;
    height: auto;
}
.c_texto {
    color: white;
    text-align: justify;
}
.p_texto {
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: -100px;
}
.h_titulo {
    position: relative;
    left: 60%;
    color: white;
    z-index: 10;
    top: 12%;
}
.logo1 {
    width: 75px;
    height: 75px;
    margin-bottom: -20px;
    margin-left: 16%;
}
#imagen_logo {
    width: 25%;
    height: auto;
    margin-left: 16%;
}
#container_img {
    position: relative;
    width: 100%;
}
#titulo {
    font-family: 'lemonmilk';
    font-size: 60px;
}
#container_titulo {
    position: relative;
    margin-left: -60%;
    margin-top: 10%;
}





/*carrusel*/
.carrusel_container {
    background: #ffffff;
    position: relative;
}
.carrusel {
    position: relative;
    width: 70%;
    height: 700px;
    background: #ffffff;
}
.carrusel .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    box-shadow: 0 30px 50px #505050;
    background: linear-gradient();
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.carrusel .item.large {
    width: 100%;
    height: 100%;
    box-shadow: none;
}
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.slide .item:nth-child(3) {
    left: 50%;
}
.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}
.slide .item:nth-child(6) {
    left: calc(50% + 660px);
}
.slide .item:nth-child(n + 7) {
    left: calc(50% + 880px);
    opacity: 0;
}
.item .contenido {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 320px;
    text-align: left;
    color: #000000;
    transform: translate(0, -50%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
}
.slide .item:nth-child(2) .contenido {
    display: block;
}
.contenido .nombre {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    width: 130%;
    animation: animate 1s ease-in-out 1 forwards;
}
.contenido .descripcion {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    width: 130%;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.contenido .enlaces {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    } to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.botones_carrusel {
    width: 142%;
    top: 85%;
    text-align: center;
    position: relative;
    bottom: 20px;
    z-index: 10;
}
button {
    width: 45px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s;
    margin-right: 25px;
    margin-left: 25px;
    color: #1b3b81;
}
button:hover {
    background: #1b3b81;
    color: #fff;
}
.enlaces {
    background: rgb(10, 79, 181);
    border-radius: 8px;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.4s;
}
.enlaces:hover {
    background: white;
    color: black;
}
.siguiente, .anterior {
    font-size: 20px;
}





/*Modal de login*/
.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0,0.8);
    z-index: 99;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    pointer-events: none;
    color: #393939;
}
.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0,0.8);
    z-index: 99;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    pointer-events: none;
    color: #393939;
}
.modalmask:target {
    opacity: 1;
    pointer-events: auto;
}
.modalbox {
    width: 800px;
    position: relative;
    padding: 40px 0px 20px 60px;
    background: #fff;
    border-radius: 50px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    overflow-x: hidden;
}
.modalbox_der {
    position: absolute;
    top: 0;
    left: 52%;
    background: linear-gradient(45deg, #77cdff, #37b6ff, #0051ff);
    min-width: 600px;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
}
.movedown {
    margin: 0 auto;
}
.modalmask:target .movedown {
    margin: 5% auto;
}
.close {
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 25px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    z-index: 99;
}
.close:hover {
    background: #f2f2f2;
    color: #222;
}
.boton {
    background: rgb(0, 132, 255);
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    transition: 0.3s;
}
.boton:hover {
    background: rgb(127, 193, 255);
    transform: scale(1.1)
}
.filas_form {
    display: flex;
}
.filas_form2 {
    display: block;
}
.input1 {
    width: 125px;
    padding: 7px 20px;
    border-radius: 30px;
    margin-right: 10px;
    border: 1px solid rgb(159, 159, 159);
}
.input2 {
    width: 300px;
    padding: 7px 20px;
    border-radius: 30px;
    border: 1px solid rgb(159, 159, 159);
}
.r_h4 {
    margin-bottom: 8px;
    font-weight: 4;
}
.parrafo {
    margin-bottom: 30px;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: 10px;
}
#boton1 {
    background: rgb(0, 132, 255);
    margin-top: 40px;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    padding: 8px 20px;
    border: 0;
    transition: 0.3s;
}
#boton2 {
    background: rgb(255, 0, 34);
    text-decoration: none;
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    border: 0;
    transition: 0.3s;
    min-width: 120px;
    max-height: 30px;
}
#boton3 {
    background: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 8px;
    color: black;
    padding: 8px 15px;
    border: 0;
    transition: 0.3s;
    margin-top: 30px;
}
#boton1:hover {
    background: rgb(127, 193, 255);
    transform: scale(1.05);
    cursor: pointer;
}
#boton2:hover {
    background: rgb(255, 127, 144);
    transform: scale(1.05);
    cursor: pointer;
}
#boton3:hover {
    background: rgb(0, 128, 255);
    transform: scale(1.05);
    color: white;
    cursor: pointer;
}
#log_title {
    margin-left: 18%;
    margin-top: 30%;
    color: white;
}
#log_conte {
    position: absolute;
    color: white;
    top: 45%;
    left: 85px;
    max-width: 250px;
    text-align: center;
}
@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}