main {
    padding-top: 55px;
}

.organizaciones_registradas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.org {
    background-color: #fff;
    border-radius: 20px;
    width: 900px;
    min-height: 500px;
    margin-top: 40px;
    padding: 40px 20px 20px 20px;
    display: flex;
}
.contenedor_info_org {
    min-height: 300px;
}
.org>div {
    max-width: 610px;
}
.org>nav {
    width: 300px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.org>nav>img {
    width: 100px;
}
#boton_sw {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background: #1b63ff;
    color: #fff;
    border: 0;
    transition: 0.4s;
    cursor: pointer;
    margin-top: 30px;
}
#boton_sw:hover {
    background: #7aa4ff;
}