* {
    padding: 0px;
}
h5 {
    font-size: 15px;
}
.cont_publicacion {
    width: 50%;
    margin-left: 32%;
}
.publicacion {
    background-color: #fff;
    border-radius: 20px;
    width: 75%;
    min-height: 600px;
    padding: 20px;
}
.publicacion_barra_superior {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}
.img_publicacion {
    width:100%;
    height:auto;
    border-radius: 10px;
}
.subcont_publi {
    display: flex;
}
.contenido_publicacion, .comentarios_publicacion {
    
    background-color: #cdcdcd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.publicacion_barra_inferior {
    display: flex;
    padding: 15px;
    gap: 20px;
}
#texto_publicacion, #titulo_publicacion {
    color: #3b3b3b;
}
#comentario {
    border-radius: 10px;
    padding: 15px;
    background-color: #b6b6b6;
    margin-bottom: 10px;
}
#contenedor_comentarios {
    overflow: auto;
    max-height: 150px;
}
#titulo {
    color: #fff;
    margin-left: 47%;
}
#nombre_cuenta_publicacion {
    font-size: 15px;
}
#nombre_campaña_publicacion {
    font-size: 14px;
}
